<h2>Posts</h2>
{{#each @model.posts as |post|}}
	<p>{{post.title}}</p>
	<p>{{post.description}}</p>
{{/each}}

<h2>Bookmarks</h2>
{{#each @model.bookmarks as |bookmark|}}
	<p><a href={{bookmark.url}}>{{bookmark.name}}</a></p>
{{/each}}